__pycache__/
*.py[cod]

# build
build/
dist/
*.egg-info
*.egg

# pycharm
.idea/

# Build, Distribution, Test and Coverage
.eggs/
.tox/
.coverage
build/
htmlcov/

# pipenv (use it but do not track)
package-lock.json
Pipfile

# sqlite
db.sqlite3
