__pycache__/
*.py[cod]

# Build, Distribution, Test and Coverage
build/
dist/
*.egg-info
*.egg
.eggs/
.tox/
.coverage
htmlcov/

# pycharm
.idea/

# pipenv (use it but do not track)
package-lock.json
Pipfile

# sqlite
db.sqlite3
